@mixin text1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin text2($font-size, $line-height, $lines) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: $line-height * $lines;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical; /* autoprefixer: off */
}
@mixin line {
    &::after{
        content: "";
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid rgba(0,0,0,.05 );
    }
}